.App {
  background-color: #282c34;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.DragDrop {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.DragDrop-Top {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-evenly;
  min-height: 70vh;
}

.DragDrop-Bottom {
  min-height: 30vh;
}
