.App {
  background-color: #282c34;
  font-size: calc(10px + 1vmin);
  color: white;
}

.DragDrop {
  display: flex;
  flex-direction: column;
  min-height: 96vh;
  padding: 2vh;
}

.DragDrop-Top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 66vh;
}

.DragDrop-Bottom {
  min-height: 30vh;
}
