.App {
  background-color: #81f495;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Header {
  height: 6vh;
  display: flex;
  justify-content: space-between;
}

.Third {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tudu {
  font-family: "Pacifico";
  font-size: 4vh;
  color: #282c34;
}

.Login {
  font-size: 2.5vh;
  background-color: #282c34;
  border-width: 2px;
  border-color: #282c34;
  border-style: solid;
  padding: 0.5vh 1.5vh 0.5vh 1.5vh;
  margin-left: 2vh;
  margin-right: 2vh;
  border-radius: 2vh;
  margin-left: 70%;
  cursor: pointer;
}

.DragDrop {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding: 2vh;
  border-radius: 30px;
  border-width: 1px;
  border-color: transparent;
  background-color: #282c34;
}

.DragDrop-Top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 62vh;
}

.DragDrop-Bottom {
  min-height: 27vh;
}
