.Column {
  min-height: 100px;
  width: 14.1%;
  display: flex;
  flex-direction: column;
}

.Tasklist {
  flex-grow: 1;
  border-radius: 5px;
  margin-bottom: 75px;
}

.Date {
  background-color: #82a6b1;
}

.Anytime {
  background-color: #d7ffab;
}
