.Column {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-width: "2px";
  border-style: dashed;
  border-color: transparent;
  text-align: center;
}

.Tasklist {
  display: flex;
  flex: 1;
}

.Top {
  width: 12.5vw;
}

.Bottom {
  padding: 1vh;
  height: 25vh;
}
