.Column {
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.Tasklist {
  display: flex;
  flex: 1;
  border-radius: 5px;
}

.Top {
  width: 14%;
}

.Bottom {
  margin-left: 5vh;
  height: 25vh;
}
