/* Note: using px seems to be more stable when dragging/dropping */

.Card {
  text-align: left;
  height: 7vh;
  width: 10vw;
  border-radius: 5px;
  padding: 1vh;
  margin-top: 1vh;
  margin-right: 1vh;
}

.Title {
  font-size: 2.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Description {
  font-size: 2vh;
}
