.Card {
  text-align: left;
  height: 8vh;
  min-width: calc(14% - 3vh);
  border-radius: 5px;
  padding: 1vh;
  margin-top: 1vh;
  margin-right: 1vh;
}

.Title {
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Description {
  font-size: 2vh;
}
